ilsws:
  username: USERNAME
  password: PASSWORD
  hostname: HOST
  port: PORT
  webapp: WEBAPP
  app_id: APP_ID
  client_id: CLIENT_ID
  user_privilege_override: OVERRIDE
  timeout: 20
  max_retries: 3
  max_search_count: 20
  default_include_fields: profile,birthDate,library,lastActivityDate,alternateID,firstName,middleName,displayName,lastName,address1,barcode,category01,category02,category07,category11,lastActivityDate
